language: python

python:
  - "3.6" 
  - "3.7"
  - "3.8"

install:
  - wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
  - bash miniconda.sh -b -p $HOME/miniconda
  - source "$HOME/miniconda/etc/profile.d/conda.sh"
  - hash -r
  - conda config --set always_yes yes --set changeps1 no
  - conda update -q conda
  - conda info -a

  - conda create -n test-environment python=$TRAVIS_PYTHON_VERSION
  - conda activate test-environment
  - conda install pytorch torchtext cpuonly -c pytorch
  - conda install pytorch-lightning -c conda-forge
  - conda install -c conda-forge 
  - python -m spacy download en
  - pip install nltk 
  - pip install pytest
  - pip install .

script:
  - pytest tests/

